.display-container{
    grid-column: span 4;
    background-color: #0004;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-end;
    padding: 10px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
